{{ define "main" }}
<section class="home-about">
    <div class="avatar">
        {{ if isset .Site.Params "avatarurl" }}
        <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Site.Params.AvatarURL }}'>
        {{ end }}
    </div>
    <h1>{{ .Site.Title }}</h1>
    <p>{{ with .Site.Params.Description }} {{ . |  markdownify | safeHTML }}{{ end }}</p>
    <div style="display: flex; justify-content: center;">
        <a href="https://www.credly.com/badges/92da7860-d60f-4567-8fd7-b0d14a4f4535">
            <img
                    style="width: 128px; height: auto;"
                    src="https://images.credly.com/size/680x680/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png" alt="AWS Certified Developer – Associate badge"
            />
        </a>
        <a href="https://www.credly.com/badges/77012b92-b489-46a3-b85d-f1b38a0d2eba">
            <img
                    style="width: 128px; height: auto;"
                    src="https://images.credly.com/size/680x680/images/885d38e4-55c0-4c35-b4ed-694e2b26be6c/image.png" alt="AWS Certified Database – Specialty badge"
            />
        </a>
    </div>
</section>

<div class="flex-break"></div>

{{ if isset .Site.Params "socialicons" }}
<section class="social-icons">
    <ul class="social-icons-list">
        {{ range .Site.Params.SocialIcons }}
        <li class="social-icon">
            <a href="{{ .url }}">
                <img class="svg-inject" src="/icons/{{ .name }}.svg" />
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

{{ if isset .Site.Params "showpostsonhomepage" }}

<div class="home-posts list-posts">
    <h2>{{ .Site.Params.ShowPostsOnHomePage | humanize }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
    {{ range $posts.ByWeight | first 4 }}
    {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
    {{ range $posts.ByDate.Reverse | first 4 }}
    {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ end }}
</div>

{{ end }}

{{ end }}
